.birthdaybanner {
    font-size: 72px;
    font-style: italic;
    font-family: 'Lobster', cursive;
    text-align: center;
    margin: 0;
    background-color: purple;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}
body p{
    text-align: center;
    font-size: 40px;
    font-family: 'Lobster', cursive;
    position: absolute;
    top: 350px;
    left: 850px;
}

