@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.birthdaybanner {
    font-size: 72px;
    font-style: italic;
    font-family: 'Lobster', cursive;
    text-align: center;
    margin: 0;
    padding-left: 20px;
    /* background-color: purple; */
    /* border-color: black; */
    /* border-width: 2px; */
    /* border-style: solid; */
    /* border-radius: 25px; */
}
body p{
    /* text-align: center; */
    font-size: 40px;
    font-family: 'Lobster', cursive;
    
    /* position: absolute; */
    /* top: 350px; */
    /* left: 550px; */
}

.grid {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 1rem;
    margin-left: 30px;
    margin-right: 10px;
    align-items: center;
}

.grid img {
    display: flex;
    align-items: center;
    border: 3px solid black;
    alt: "no-pic";
    margin-left: 20px;
}


/* .grid row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
} */

.midsec {
    display: flex;
    margin: 25px;
    
    justify-content: space-around;
    align-items: center; 
    /* border: 1px black solid; */
}

.bdayhatl {
    transform: rotate(-10deg);
}

.bdayhatr {
    transform: rotate(10deg);
}

/* Believe theres a better way of having the pictures adjust, perhaps through another div like grid row above */
@media screen and (max-width: 960px){
    .grid img {
        width: 275px;
    }
}
@media screen and (min-width: 960px){
    .grid img { 
        width: 325px;
    }
}
@media screen and (min-width: 1200px){
    .grid img {
        width: 400px;
    }
}
@media screen and (min-width: 1500px){
    .grid img {
        width: 500px;
        /* height: 291.25px; */
    }
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 1rem;
}

.vert-slideshow-container {
    max-height: 700px;
    position: relative;
    margin: auto;
    margin-top: 1rem;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, .3);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.slidetext {
    color: #f2f2f2;
    text-shadow: 2px 2px black;
    font-size: 32px;
    font-family: Questrial, sans-serif;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numtext {
    color: #f2f2f2;
    text-shadow: 1px 1px black;
    font-size: 12px;
    font-family: Questrial, sans-serif;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
  
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

.main-header {
    background-color: purple;
    background-size: cover;
    padding-bottom: 30px;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.main-nav li {
    padding: 0 2.5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
    font-family: 'Lobster', cursive;
    font-size: 1.8rem;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.container {
    max-width: 900px;
    max-height: 55px;
    margin: auto auto;
    padding: 0 1.5em;
}

.main-footer {
    background-color:rgb(66, 66, 61);
    color: white;
    padding: .2em 0;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    
}

.main-footer-container {
    display: flex;
    align-items: center;
    /* flex-shrink: 0;
    margin-top: auto; */
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 25px;
    height: 25px;  
}

.vert-pic {
    height: 700px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}